<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>WELCOME TO HOME PAGE</h1>
<body>

<form action="/register">
    <button class="btn btn-primary" type="submit">Zarejestruj się</button>
</form>


<form action="/users">
    <button class="btn btn-primary" type="submit">Wyswietl uzytkownikow</button>
</form>

<form action="/usersNotAccepted">
    <button class="btn btn-primary" type="submit">Wyswietl uzytkownikow nie zatwierdzonych</button>
</form>

<iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/i84L16VL6c8" frameborder="0" allowfullscreen></iframe>
</body>
<a href="/logout">Logout"></a>
</body>
</html>